<form action="/s/<%=@project.url%>" id="form" class='form-horizontal'>
  <div class="control-group">
    <%= render :partial => 'image' %>
  </div>
  <div id="controls" class="control-group">
    <%= image_tag("newprjbutton.png", id: "new-button", title: "New Project") %>
    <%= image_tag("listbutton.png", id: "list-button", title: "List Projects") %>
    |
    <%= image_tag("configbutton.png", id: "config-button", class: @project.id ? "" : "active", title: "Configuration") %>
    <%= image_tag("plussnapbutton.png", id: "snapshot-button", title: "Snapshot") %>
    <%= image_tag("filterbutton.png", id: "images-button", class: @project.id ? "active" : "", title: "List images") %>
    <%= image_tag("savebutton.png", id: "save-button", title: "Save Project") %> 
    <%= image_tag("downloadbutton.png", id: "download-button", title: "Download") %>
  </div>
  <div id="context-container">
    <div id="images-context" style="display: <%= @project.id ? "block" : "none" %>">
      <h4>Images</h4>
      <div>
        <label><input type="checkbox" id="use_as_base" />Update base image each capture.</label>
        <label><input type="checkbox" id="mirror" checked="checked" />Mirror Camera.</label>
      </div>
      <% @project.images.each do |image| %>
        <img class="image-thumb" src="<%= image.thumb_url%>" data-content="<%= image.url %>" data-id="<%= image.id %>" />
      <% end %>
    </div>
    <div id="config-context" style="display: <%= @project.id ? "none" : "block" %>">
      <h4>Configuration</h4>
      <div class="control-group">
        <%= label_tag :project, :name, :class => 'control-label' %>
        <div class="controls">
          <%= text_field_tag :project, :name, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag :project,:url, :class => 'control-label' %>
        <div class="controls">
          <%= text_field_tag :project, :url, :class => 'text_field' %>
        </div>
      </div>
    </div>
  </div>
</form>
